.sobre {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 65px;
  padding: 100px 0px 100px 20px;
  border-bottom: 1px solid var(--borda);
}

.sobre-mim {
  display: grid;
  place-content: center;
  gap: 20px;
}

.sobre-mim h2 {
  font-size: 1.88rem;
  text-transform: uppercase;
}

.sobre-main p {
  font-size: 1.125rem;
}

.sobre-lista {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  gap: 15px;
  position: relative;
  right: 40px;
}

.sobre-lista li {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 60px;
  width: 250px;
  color: var(--borda);
  /* background-color: var(--borda); */
  padding: 10px 20px 10px 20px;
  border: 1px solid var(--borda);
  border-radius: 30px;
  font-weight: 700;
}

.sobre-lista li:nth-child(3) {
  padding: 4.5px 20px;
}
