header {
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 20px 0;
  gap: 40px;
  justify-content: center;
  max-width: 1000px; /* ou qualquer outro valor */
  margin: 0 auto; /* Centralizar no contêiner pai */
}

.menu a {
  padding: 10px 20px;
  display: inline-block;
}

.menu a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  border: solid 0px var(--texto);
  border-radius: 2px;
  background-color: var(--texto);
  margin-top: 4px;
  transition: 0.3s;
}

.menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .menu {
    gap: 30px;
  }
  .menu a {
    background: var(--cor-primaria);
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
  }
  .menu a:hover {
    background: var(--cor-primaria-escura);
  }
  .menu a::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .menu a::after {
    display: none;
  }
}
@media (max-width: 266px) {
  .menu a {
    font-size: 0.800rem;
  }
}
